@import "tailwindcss";
@plugin "daisyui";

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-base-300);
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}
